@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

header {
    position: relative;
    position: fixed;
    width: 100%;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    background-color: rgba(120, 32, 183, 0.499);
}

header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .logo-wrap {
        display: flex;
        gap: 40px;
    }
}

.logo2 {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    .food {
        color: #FCC647;
    }

    .color {
        font-weight: 400;
        font-size: 15px;
        color: black;
    }
}

.logo2 span {
    color: #5d47ef;
}

.navigation {
    position: relative;
}

.navigation ul {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul li {
    margin-left: 60px;
}

.navigation a {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 1;
    transition: 0.5s;
}

.navigation a::before {
    content: "" attr(data-menu) "";
    position: absolute;
    z-index: 1;
    color: #ef476f;
    width: 0px;
    transition: 0.5s;
    overflow: hidden;
}

.navigation a:hover::before {
    width: 100%;
}

input#toggle-icon,
.toggle-icon {
    display: none;
}

.byu {
    padding-top: 100px;
    background-color: rgba(120, 32, 183, 0.697);
    padding-bottom: 50px;
    color: #fff;
    .БЬЮТИ {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        .БЬЮТИ1 {
            h1 {
                font-weight: 100;
                margin-bottom: 20px;
                .sariq {
                    color: #CE946B;
                }
            }
            h4 {
                margin-bottom: 20px;
            }
            h3 {
                margin-bottom: 20px;
            }
            .ЗАБРОНИРОВАТЬ {
                all: unset;
                padding: 17px 65px;
                background-color: #C88C61;
                border-radius: 5px;
                color: #fff;
            }
        }
        .rasmm {
            img {
                width: 100%;
            }
        }
    }
}
.bam {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    h1 {
        font-weight: 100;
        .tak {
            color: #CE946B;
        }
    }
}
.bam2 {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    gap: 30px;
    h1 {
        font-weight: 100;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    img {
        width: 100%;
    }
}
.АРЕНДОВАТЬ2 {
    text-align: center;
    margin-bottom: 30px;
    .АРЕНДОВАТЬ {
        all: unset;
        padding: 25px 55px;
        border-radius: 5px;
        background-color: #CE946B;
        border: 1px solid #C88C61;
        color: #fff;
    }
}
// .ikkita1 {
//     .ikkita {
//         display: flex;
//         align-items: center;
//         img {
//             width: 100%;

//         }
//     }
// }

.ontalik {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 50px;
    justify-content: space-evenly;
    margin-bottom: 50px;
    h1 {
        font-weight: 100;
        margin-bottom: 20px;
        color: #F0F0F0;
        margin-top: 30px;
    }
    h3 {
        font-weight: 500;
        margin-bottom: 20px;
    }
    p {
        color: #34343F;
    }
}


.puwti { 
    background-color: #363348;
    padding-top: 30px;
    padding-bottom: 50px;
    .puwti1 {
        .puwti2 {
            h1 {
                text-align: center;
                font-weight: 100;
                color: #fff;
                .vaw {
                    color: #CE946B;
                }
            }
        }
        .puwti3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 30px 0px 30px;
            background-color: #fff;
            padding-top: 30px;
            width: 80%;
            margin: auto;
            margin-top: 50px;
            gap: 20px;
            .puwti4 {
                .puwti5 {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 10px;
                }
            }
            .puwti6 {
                h1 {
                    font-weight: 100;
                    margin-bottom: 30px;
                }
                .puwti7 {
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;
                }
                .klas {
                    all: unset;
                    padding: 15px 55px;
                    background-color: #CE946B;
                    color: #fff;
                    border-radius: 5px;
                    margin-top: 20px;
                }
            }
        }
    }
    .ffor {
        display: flex;
        align-items: center;
        width: 90%;
        margin: auto;
        justify-content: center;
        margin-top: 50px;
        img {
            width: 100%;
            height: 700px;
        }
    }
    .xot {
        text-align: center;
        color: #fff;
        margin-top: 50px;
        h1 {
            font-weight: 100;

        }
    }
}
.ol {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
     .ol1 {
         display: flex;
         justify-content: space-around;
         h3 {
             font-weight: 100;
             margin-bottom: 20px;
             margin-top: 15px;
         }
         p {
             font-weight: 100;
             margin-bottom: 30px;
         }
    }
    // .ol5 {
    //     display: flex;
    //     justify-content: space-evenly;
    //     gap: 50px;
    // }
}

.esli1 {
    text-align: center;
    margin-bottom: 30px;
    h1 {
        font-weight: 100;
        color: #CE946B;
    }
    .esli2 {
        margin-top: 30px;
        .esli {
            display: flex;
            align-items: center;
            gap: 20px;
            text-align: center;
            justify-content: center;
            border-bottom: 1px solid rgb(164, 164, 164);
            width: 70%;
            margin: auto;
            justify-content: space-between;
            padding: 10px;
        }
    }
}
.top {
    h1 {
        background-color: #363348;
        margin-top: -10px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        padding-bottom: 20px;
        .span {
            color: #CE946B;
        }
    }
    img {
        width: 100%;
    }
    .oxirigi {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #363348;
        padding-bottom: 40px;
        img {
            width: 100%;
            height: 700px;
        }
    }
}
.footer {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .foter {
        .svgg {
            width: 50%;
            margin-bottom: 30px;
        }
        .futer {
            display: flex;
            align-items: center;
            gap: 30px;
            .futer1 {
                a {
                    color: #000;
                }
                .pxone {
                    display: flex;
                    gap: 10px;
                    .zvonok {
                        p {
                            color: #CE946B;
                        }
                    }
                }
            }
        }
    }
    p {
        margin-bottom: 10px;
    }
}
.cizziq {
    margin-bottom: 30px;
    img {
        width: 100%;
        background-color: rgb(129, 129, 129);
    }
}
.tgd {
    text-align: center;
    margin-bottom: 30px;
    p {
        color: #A5A5B3;
    }
}















@media (max-width: 2000px) {
    header {
        padding: 20px 40px;
    }

    .logo {
        font-size: 17px;
    }

    .navigation ul li {
        margin-left: 30px;
    }

    .navigation a {
        font-size: 16px;
        color: #fff;
    }
}

@media (max-width: 1400px) {
    header {
        padding: 20px 50px;
        padding-bottom: 40px;
    }

    .logo {
        font-size: 38px;
    }

    .navigation {
        position: absolute;
        top: 33px;
        left: 0;
        width: 100%;
    }

    .navigation ul li {
        margin-left: 0px;
        width: 100%;
        background-color: rgba(120, 32, 183, 0.676);
        animation: liAnim 0.5s 0ms ease-in forwards;
        transform-origin: left;
        opacity: 0;
        transform: scaleY(0);
    }

    .navigation ul li:nth-child(1) {
        animation-delay: 100ms;
    }

    .navigation ul li:nth-child(2) {
        animation-delay: 300ms;
    }

    .navigation ul li:nth-child(3) {
        animation-delay: 500ms;
    }

    .navigation ul li:nth-child(4) {
        animation-delay: 700ms;
    }

    .navigation ul li:nth-child(5) {
        animation-delay: 900ms;
    }

    .navigation ul li:nth-child(6) {
        animation-delay: 1100ms;
    }

    @keyframes liAnim {
        0% {
            opacity: 0;
            transform: scaleY(0);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    .navigation a {
        line-height: 1;
        display: block;
        color: white;
        padding: 15px 10px;
    }

    .navigation a::before {
        color: #ffd166;
    }

    .navigation nav {
        display: none;
    }

    .toggle-icon {
        display: block;
    }

    .toggle-icon {
        position: fixed;
        top: 6px;
        right: 50px;
        width: 55px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    /* hamburger css start */
    .hamburger {
        position: relative;
        width: 60%;
        height: 60%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }

    .burger-1::before,
    .burger-1::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 8px;
        transition: 0.3s;
    }

    .burger-1::before {
        transform: translateY(-10px);
    }

    #toggle-icon:checked+.toggle-icon .burger-1::before {
        transform: translateY(0) rotate(-315deg);
    }

    .burger-1::after {
        transform: translateY(10px);
        box-shadow: 0 -10px 0 black;
    }

    #toggle-icon:checked+.toggle-icon .burger-1::after {
        transform: translateY(0) rotate(-45deg);
        box-shadow: unset;
    }

    #toggle-icon:checked~nav {
        display: block;
    }

}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}
@media (max-width: 1360px) {
    .top {
        .oxirigi {
            flex-direction: column-reverse;
            gap: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (max-width: 1300px) {
    .puwti {
        .puwti1 {
            flex-direction: column;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1100px) {
    header {
        .inner {
            .logo-wrap {
                .kon {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .byu {
        .БЬЮТИ {
            flex-direction: column-reverse;
        }
    }
    .puwti {
        .puwti1 {
            .puwti3 {
                .puwti4 {
                    .puwti5 {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    header {
        .inner {
            .logo-wrap {
                .kon1 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .puwti {
        .puwti1 {
            .puwti3 {
                flex-direction: column;
                .puwti4 {
                    display: flex;
                    gap: 20px;
                    .puwti5 {

                    }
                }
            }
        }
        .ffor {
            flex-direction: column-reverse;
        }
    }
}

@media (max-width: 777px) {
    .ontalik {
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    header {
        .inner {
            .logo-wrap {
                .kon2 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 660px) {
    header {
        .inner {
            .logo-wrap {
                .kon3 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .footer {
        .foter {
            .futer {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 800px) {
    .ol {
        display: flex;
        justify-content: space-around;
        .ol1 {
            flex-direction: column;
        }
    }
    .bam2 {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .ol {
        flex-direction: column;
        text-align: center;
        .ol1 {
            flex-direction: column;
        }
    }
}
@media (max-width: 600px) {
    .top {
        .oxirigi {
            div {
                img {
                    width: 100%;
                    height: 400px;
                }
            }
        }
    }
}

@media (max-width: 560px) {
    header {
        .inner {
            .logo-wrap {
                .kon4 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 555px) {
    .puwti {
        .puwti1 {
            .puwti3 {
                flex-direction: column;
                .puwti4 {
                    flex-direction: column;
                    gap: 20px;
                    .puwti5 {

                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .top {
        .oxirigi {
            div {
                img {
                    width: 100%;
                    height: 250px;
                }
            }
        }
    }
}