@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

header {
  position: relative;
  position: fixed;
  width: 100%;
  background-color: rgba(120, 32, 183, 0.499);
}

header .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .inner .logo-wrap {
  display: flex;
  gap: 40px;
}

.logo2 {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}

.logo2 .food {
  color: #FCC647;
}

.logo2 .color {
  font-weight: 400;
  font-size: 15px;
  color: black;
}

.logo2 span {
  color: #5d47ef;
}

.navigation {
  position: relative;
}

.navigation ul {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul li {
  margin-left: 60px;
}

.navigation a {
  position: relative;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 1;
  transition: 0.5s;
}

.navigation a::before {
  content: "" attr(data-menu) "";
  position: absolute;
  z-index: 1;
  color: #ef476f;
  width: 0px;
  transition: 0.5s;
  overflow: hidden;
}

.navigation a:hover::before {
  width: 100%;
}

input#toggle-icon,
.toggle-icon {
  display: none;
}

.byu {
  padding-top: 100px;
  background-color: rgba(120, 32, 183, 0.697);
  padding-bottom: 50px;
  color: #fff;
}

.byu .БЬЮТИ {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}

.byu .БЬЮТИ .БЬЮТИ1 h1 {
  font-weight: 100;
  margin-bottom: 20px;
}

.byu .БЬЮТИ .БЬЮТИ1 h1 .sariq {
  color: #CE946B;
}

.byu .БЬЮТИ .БЬЮТИ1 h4 {
  margin-bottom: 20px;
}

.byu .БЬЮТИ .БЬЮТИ1 h3 {
  margin-bottom: 20px;
}

.byu .БЬЮТИ .БЬЮТИ1 .ЗАБРОНИРОВАТЬ {
  all: unset;
  padding: 17px 65px;
  background-color: #C88C61;
  border-radius: 5px;
  color: #fff;
}

.byu .БЬЮТИ .rasmm img {
  width: 100%;
}

.bam {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.bam h1 {
  font-weight: 100;
}

.bam h1 .tak {
  color: #CE946B;
}

.bam2 {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  gap: 30px;
}

.bam2 h1 {
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bam2 img {
  width: 100%;
}

.АРЕНДОВАТЬ2 {
  text-align: center;
  margin-bottom: 30px;
}

.АРЕНДОВАТЬ2 .АРЕНДОВАТЬ {
  all: unset;
  padding: 25px 55px;
  border-radius: 5px;
  background-color: #CE946B;
  border: 1px solid #C88C61;
  color: #fff;
}

.ontalik {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 50px;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.ontalik h1 {
  font-weight: 100;
  margin-bottom: 20px;
  color: #F0F0F0;
  margin-top: 30px;
}

.ontalik h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.ontalik p {
  color: #34343F;
}

.puwti {
  background-color: #363348;
  padding-top: 30px;
  padding-bottom: 50px;
}

.puwti .puwti1 .puwti2 h1 {
  text-align: center;
  font-weight: 100;
  color: #fff;
}

.puwti .puwti1 .puwti2 h1 .vaw {
  color: #CE946B;
}

.puwti .puwti1 .puwti3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
  background-color: #fff;
  padding-top: 30px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  gap: 20px;
}

.puwti .puwti1 .puwti3 .puwti4 .puwti5 {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.puwti .puwti1 .puwti3 .puwti6 h1 {
  font-weight: 100;
  margin-bottom: 30px;
}

.puwti .puwti1 .puwti3 .puwti6 .puwti7 {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.puwti .puwti1 .puwti3 .puwti6 .klas {
  all: unset;
  padding: 15px 55px;
  background-color: #CE946B;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.puwti .ffor {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
}

.puwti .ffor img {
  width: 100%;
  height: 700px;
}

.puwti .xot {
  text-align: center;
  color: #fff;
  margin-top: 50px;
}

.puwti .xot h1 {
  font-weight: 100;
}

.ol {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ol .ol1 {
  display: flex;
  justify-content: space-around;
}

.ol .ol1 h3 {
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 15px;
}

.ol .ol1 p {
  font-weight: 100;
  margin-bottom: 30px;
}

.esli1 {
  text-align: center;
  margin-bottom: 30px;
}

.esli1 h1 {
  font-weight: 100;
  color: #CE946B;
}

.esli1 .esli2 {
  margin-top: 30px;
}

.esli1 .esli2 .esli {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid #a4a4a4;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
}

.top h1 {
  background-color: #363348;
  margin-top: -10px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding-bottom: 20px;
}

.top h1 .span {
  color: #CE946B;
}

.top img {
  width: 100%;
}

.top .oxirigi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363348;
  padding-bottom: 40px;
}

.top .oxirigi img {
  width: 100%;
  height: 700px;
}

.footer {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .foter .svgg {
  width: 50%;
  margin-bottom: 30px;
}

.footer .foter .futer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer .foter .futer .futer1 a {
  color: #000;
}

.footer .foter .futer .futer1 .pxone {
  display: flex;
  gap: 10px;
}

.footer .foter .futer .futer1 .pxone .zvonok p {
  color: #CE946B;
}

.footer p {
  margin-bottom: 10px;
}

.cizziq {
  margin-bottom: 30px;
}

.cizziq img {
  width: 100%;
  background-color: #818181;
}

.tgd {
  text-align: center;
  margin-bottom: 30px;
}

.tgd p {
  color: #A5A5B3;
}

@media (max-width: 2000px) {
  header {
    padding: 20px 40px;
  }
  .logo {
    font-size: 17px;
  }
  .navigation ul li {
    margin-left: 30px;
  }
  .navigation a {
    font-size: 16px;
    color: #fff;
  }
}

@media (max-width: 1400px) {
  header {
    padding: 20px 50px;
    padding-bottom: 40px;
  }
  .logo {
    font-size: 38px;
  }
  .navigation {
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
  }
  .navigation ul li {
    margin-left: 0px;
    width: 100%;
    background-color: rgba(120, 32, 183, 0.676);
    animation: liAnim 0.5s 0ms ease-in forwards;
    transform-origin: left;
    opacity: 0;
    transform: scaleY(0);
  }
  .navigation ul li:nth-child(1) {
    animation-delay: 100ms;
  }
  .navigation ul li:nth-child(2) {
    animation-delay: 300ms;
  }
  .navigation ul li:nth-child(3) {
    animation-delay: 500ms;
  }
  .navigation ul li:nth-child(4) {
    animation-delay: 700ms;
  }
  .navigation ul li:nth-child(5) {
    animation-delay: 900ms;
  }
  .navigation ul li:nth-child(6) {
    animation-delay: 1100ms;
  }
  @keyframes liAnim {
    0% {
      opacity: 0;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  .navigation a {
    line-height: 1;
    display: block;
    color: white;
    padding: 15px 10px;
  }
  .navigation a::before {
    color: #ffd166;
  }
  .navigation nav {
    display: none;
  }
  .toggle-icon {
    display: block;
  }
  .toggle-icon {
    position: fixed;
    top: 6px;
    right: 50px;
    width: 55px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* hamburger css start */
  .hamburger {
    position: relative;
    width: 60%;
    height: 60%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }
  .burger-1::before,
  .burger-1::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 8px;
    transition: 0.3s;
  }
  .burger-1::before {
    transform: translateY(-10px);
  }
  #toggle-icon:checked + .toggle-icon .burger-1::before {
    transform: translateY(0) rotate(-315deg);
  }
  .burger-1::after {
    transform: translateY(10px);
    box-shadow: 0 -10px 0 black;
  }
  #toggle-icon:checked + .toggle-icon .burger-1::after {
    transform: translateY(0) rotate(-45deg);
    box-shadow: unset;
  }
  #toggle-icon:checked ~ nav {
    display: block;
  }
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}

@media (max-width: 1360px) {
  .top .oxirigi {
    flex-direction: column-reverse;
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1300px) {
  .puwti .puwti1 {
    flex-direction: column;
  }
  .puwti .puwti1 img {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  header .inner .logo-wrap .kon {
    display: none;
  }
}

@media (max-width: 1000px) {
  .byu .БЬЮТИ {
    flex-direction: column-reverse;
  }
  .puwti .puwti1 .puwti3 .puwti4 .puwti5 {
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  header .inner .logo-wrap .kon1 {
    display: none;
  }
}

@media (max-width: 900px) {
  .puwti .puwti1 .puwti3 {
    flex-direction: column;
  }
  .puwti .puwti1 .puwti3 .puwti4 {
    display: flex;
    gap: 20px;
  }
  .puwti .ffor {
    flex-direction: column-reverse;
  }
}

@media (max-width: 777px) {
  .ontalik {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  header .inner .logo-wrap .kon2 {
    display: none;
  }
}

@media (max-width: 660px) {
  header .inner .logo-wrap .kon3 {
    display: none;
  }
}

@media (max-width: 650px) {
  .footer .foter .futer {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .ol {
    display: flex;
    justify-content: space-around;
  }
  .ol .ol1 {
    flex-direction: column;
  }
  .bam2 {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .ol {
    flex-direction: column;
    text-align: center;
  }
  .ol .ol1 {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .top .oxirigi div img {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 560px) {
  header .inner .logo-wrap .kon4 {
    display: none;
  }
}

@media (max-width: 555px) {
  .puwti .puwti1 .puwti3 {
    flex-direction: column;
  }
  .puwti .puwti1 .puwti3 .puwti4 {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 350px) {
  .top .oxirigi div img {
    width: 100%;
    height: 250px;
  }
}
/*# sourceMappingURL=style.css.map */